# compile output
*.o
./parser
./gensrc
./tags

# bison output
./y.dot
./y.output
./y.tab.[cho]

# flex output
./lex.yy.c
./flex.h

# coverage output
./coverage-report
*.gcno
*.gcda
./gmon.out
./ex_test.info
